APP_NAME="task-manager"
APP_PORT=3000
APP_STAGE=Validation-REU
MONITORING_USERNAME=user
MONITORING_PASSWORD=password
DB_URI="mongodb://localhost:27017/microservice-demo-db"
VERSION=unknown
APP_URL=http://localhost:3000
